<mat-toolbar color="primary">
    <span>App users</span>
  <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/reportes">Reportes</button>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>favorite</mat-icon>
  
  </button>
 <!-- logout no tiene un componente ni ruta y se convierte en wircards y es como una salida de sesion y se dirige a login -->
  <button mat-icon-button routerLink="/logout">
  <mat-icon >logout</mat-icon>
  </button> 

  <span class="example-spacer"></span>

  <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>

  <span class="example-spacer"></span>

  

</mat-toolbar>
  
