<div class="body">
<div class="login">
  <mat-spinner diameter="50" class="spinner" *ngIf="loading"></mat-spinner>

  <form *ngIf="!loading" [formGroup]="form" (ngSubmit) ="Ingresar()">
    <img src="../../../assets/img/user.png" alt="img de usuario">
    <h1>Autenticacion de usuarios</h1>
    <mat-form-field  class="ancho" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput formControlName="usuario">
          </mat-form-field>
    
    <mat-form-field class="ancho"  appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput formControlName="password">
            </mat-form-field>
    <br>
    <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
  </form>
</div>

 

</div>

<!-- formControlName lo liga al formulario-->

    

      